{% load thumbnail %}
{% include "news/header.html" with base=django.urls.base ogimage=news.cover|thumbnail_url:'twitter_fb'  %}
<div class="container fluid">
    <div class="row">
		<div class="col-sm-12 col-md-8 col-lg-9">
			<div class="card fluid">
				<div class="section">
					<h1>{{ news.title }}</h1>
				</div>
				<img class="section media" src="{{ news.cover|thumbnail_url:'twitter_fb' }}" alt="{{ news.title }}" />
				{{ news.content | safe }}
				<div class="section dark">
					{{ news.author.first_name }} {{ news.author.last_name }} | {{ news.created_on|date }} | <a href="https://facebook.com/sharer/sharer.php?u={% if request.is_secure %}https://{% else %}http://{% endif %}{{ request.get_host }}{% url 'news:newsdetail' news.category.cat_slug news.slug %}" target="_blank" aria-label="Facebook'da paylaş"><span class="icon-facebook"></span></a> <a href="https://twitter.com/intent/tweet/?text={{ news.title|urlencode}}&amp;url={% if request.is_secure %}https://{% else %}http://{% endif %}{{ request.get_host }}{% url 'news:newsdetail' news.category.cat_slug news.slug %}" target="_blank" aria-label="Twitter'da paylaş"><span class="icon-twitter"></span></a>
				</div>
			</div>
		</div>
		<div class="col-sm-12 col-md-4 col-lg-3">
			<div class="card fluid">

			</div>
		</div>
	</div>
</div>
<script type="application/ld+json">
{
 "@context": "http://schema.org",
 "@type": "BreadcrumbList",
 "itemListElement":
 [
  {
   "@type": "ListItem",
   "position": 1,
   "item":
   {
    "@id": "{% if request.is_secure %}https://{% else %}http://{% endif %}{{ request.get_host }}{% url 'news:newsindex' %}",
    "name": "Anasayfa"
    }
  },
  {
   "@type": "ListItem",
  "position": 2,
  "item":
   {
     "@id": "{% if request.is_secure %}https://{% else %}http://{% endif %}{{ request.get_host }}{% url 'news:catindex' news.category.cat_slug %}",
     "name": "{{news.category.cat_name}}"
   }
  },
  {
   "@type": "ListItem",
  "position": 3,
  "item":
   {
     "@id": "{% if request.is_secure %}https://{% else %}http://{% endif %}{{ request.get_host }}{% url 'news:newsdetail' news.category.cat_slug news.slug %}",
     "name": "{{ news.title }}"
   }
  }

 ]
}
</script>
{% include "news/footer.html" %}